<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobao360.audit.mapper.AuditAgentBasicInfoMapper">
    <select id="getMaxAgentNo" resultType="java.lang.String">
        SELECT MAX(info.agent_no) FROM AUDIT_AGENT_BASIC_INFO info
    </select>
    <select id="checkInfoRepeat" resultType="com.mobao360.audit.entity.AuditAgentBasicInfo">
        SELECT
        agent.NAME,
        agent.LEGAL_PERSON_CERT_NUM,
        agent.BUSINESS_LICENCE_NO
        FROM AUDIT_AGENT_BASIC_INFO agent
        JOIN AUDIT_EVENT event ON event.ID=agent.AUDIT_EVENT_ID
        WHERE event.STATUS IN ('01','02')
        AND ( agent.NAME = #{name}
              OR agent.BUSINESS_LICENCE_NO = #{businessLicenceNo}
            )
        <if test="agentNo != null">
            AND AGENT_NO != #{agentNo}
        </if>

    </select>

    <select id="selectByAgentNoAndAuditEventType" resultType="int">
        SELECT  COUNT(*) FROM
        AUDIT_AGENT_BASIC_INFO aabi
        JOIN AUDIT_EVENT ae
        ON aabi.AUDIT_EVENT_ID = ae.ID
        WHERE  aabi.AGENT_NO = #{AgentNo}
        AND ae.STATUS IN ('01','02')
        AND ae.AUDIT_EVENT_TYPE = '13'
    </select>

</mapper>
